{% load static %}
<html>
<head>
<title>Utkarsh Management System</title>
</head>
<body>
<h3><a href={% url 'home'%}>Home</a> <a href={% url 'addSchool'%}> AddSchool</a> <a href={% url  'addUniversalStudent'%}>AddStudent</a><a href={% url 'allSchool'%}> SchoolList</a> <a href={% url 'student_list' %}>index</a> <a href={% url 'visitcreate' %}>New Visit </a> </h3>
<h1> Utkarsh Management System</h1>
<h2>Logged in as {{request.user.username}}</h2>
<button type="submit"><a href={% url 'logout'%}>Logout</a></button>

{% block content%}
{% endblock content%}

</body>
</html>