{% load static %}
<html>
<head>
<title>Utkarsh Management System</title>
</head>
<body>
<h3><a href={% url 'student_list' %}>index</a> <a href={% url 'add_student' %}>addStudent </a> <a href={% url 'list_dates'%}> datewiseattendance </a> <a href={% url 'mark_attendance'%}>takeattendance</a> <a href={% url 'volounteer_list'%}>volounteers</a></h3> 
<h1> Utkarsh Management System</h1>
<button type="submit"><a href={% url 'logout'%}>Logout</a></button>

{% block content%}
{% endblock content%}

</body>
</html>