<html>
<head>
<title>
Utkarsh Management System
</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
                
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>               
    <label for="password">Password</label>                
    <input type="password" name="password" id="password" required>
    <p font color='red'>{{error}}</p>
    <button type="submit">Login</button> <h3><a href={% url 'register'%}>register</a></h3>
</body>
</html>
